language: node_js
node_js:
- '6'
before_install:
# TODO OSS
# - npm i npm-cli-login -g
# - npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
# - npm who
- echo "registry = https://realglobe.artifactoryonline.com/realglobe/api/npm/npm-virtual" > $HOME/.npmrc
- curl -u${NPM_USER}:${NPM_PASSWORD} "https://realglobe.artifactoryonline.com/realglobe/api/npm/auth" >> $HOME/.npmrc
- cat $HOME/.npmrc
install:
- npm install
script:
- ./ci/build.js
- ./ci/shim.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js

env:
  secure: "qpjAyaaZMr3WaiqG8MPALkaPCWEtyyxhW/UyOYd3+Zho6JXsmbD73o1VXs6liu53f9dLFJCMYc9Gdjr3xU0PdGRqDvIkIZR8JRGWZltSiSwLnSuGQtufolYHeU1fS0vzF0VcaXk50j0l8ij+f/Bqfvwc3G8rtlJqO0nfL/iPy2WKYQbMY/3gue3TYL3NKY5Dv4acZ4erLpSux4/f2XNu4OtvMz1EMrHFIChHK0o1LFDg7oEj1pnIN/uyLeaHBSb/KCZzj8yjuDajkOZcy/8IUrCpvPXwBqNXAr32AOnQVHM/iCr/KA0pQI4lYDKxu7J77gDxGWWBCC+YNfMzBGQ297AfNINVNyaIv2b0+9IN0GDdWf/YSeL0VoIldKgKkM5CcuR2FTrmCzprCyFV94SnirNhSuHeUjmKn/POvwBN80mf+SQwD+EDuY4yEursASVroutTxnJZG6my0oF7D5F+DDTfSmBoZuPdHuCZgS4xfo7pcCICJVFXQ/E+ld11HDIgZLgOxV2b2gYMDNo0mvGUDlintI+WHQt2Y6dBUv9d+4qG57VhjFlUG6dIOCkRu/h2K4FYHbGC2H1FmeHHOjfaFdNHnzUt+cU0sl+PypSjlRcu6c3nqVgFbhdK1lYRv7AOC7wn6Pa8P6tFevnY9WR5rJAfabobWDQXFBy5hJsZt6M="
